@page
@model WakeFW_Server_UI.Pages.NetworkDevices.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TargetNetworkDevice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TargetNetworkDevice.Ip" class="control-label"></label>
                <input asp-for="TargetNetworkDevice.Ip" class="form-control" />
                <span asp-validation-for="TargetNetworkDevice.Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetNetworkDevice.Mac" class="control-label"></label>
                <input asp-for="TargetNetworkDevice.Mac" class="form-control" />
                <span asp-validation-for="TargetNetworkDevice.Mac" class="text-danger"></span>
            </div>
        @*    <div class="form-group">
                <label asp-for="TargetNetworkDevice.AddedDate" class="control-label"></label>
                <input asp-for="TargetNetworkDevice.AddedDate" class="form-control" />
                <span asp-validation-for="TargetNetworkDevice.AddedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
